<div class="col-md-5 col-sm-12 col-xs-12 center-flexbox sidebar-container"><div class="inner">
	<div class="info-block">
		<p>Call 911 if you have a medical emergency: If you have a medical emergency and need to call 911, notify the operator that you have or think you might have, COVID-19. If possible, put on a facemask before medical help arrives.<a href="https://www.ecdc.europa.eu/en/covid-19/questions-answers" target="_blank">CDC website</a></p>
	</div>
	<div class="bif-block">
		<a href="#" class="bif-logo"><img src="image/bif.png"></a>
		<p>Email: <a href="mailto:info@bif.one">info@bif.one</a></p>
		<p>Copyright © <span id="year"></span>. All rights reserved.</p>
		<div class="link-group-block">
			<ul>
				<li><a href="mailto:info@bif.one" target="_blank"><i class="fas fa-envelope"></i></a></li>
			</ul>
		</div>
	</div>
</div></div>
